html, body{
    width: 100%;
    overflow-x: hidden;
}

#title {
    background-color: #00AFF0;
}

#features {
    position: relative;
    font-family: 'Lobster', cursive;
    padding: 5% 15%;
    text-align: center;
    background-color: white;
}

#testimonials {
    font-family: 'Lobster', cursive;
    text-align: center;
    background-color: #00AFF0;
}

#press {
    font-family: 'Lobster', cursive;
    padding: 2.5% 15%;
    text-align: center;
    background-color: #00AFF0;
}

#pricing {
    background-color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 2.5% 15%;
}

#cta {
    padding: 5% 15%;
    text-align: center;
    background-color: #00AFF0;
}

#footer {
    background-color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 1% 15% 0;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
}

.navbar-nav {
    font-size: 1.25rem;
}

.container-fluid {
    padding: 2% 15%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.25;
    font-size: 5rem;
}

.DownloadButton {
    margin: 2%;
}

.btn {
    margin-top: 5%;
}

.col-lg-6 {
    margin-top: 5%;
}

.introPageBigPic {
    position: relative;
    left: 5%;
    transform: rotate(25deg);
}

h3 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color: darkgray;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
}
.feature-icon {
    color: #00AFF0;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #004cf0;
}

.carousel-item {
    padding: 2.5% 15%;
}

.press-logo {
    width: 20%;
    margin: 1%;
}

.testimonial-pic {
    width: 15%;
    border-radius: 100%;
    margin: 1rem;
}

.testimonial-pic-disc {
    font-family: 'Ubuntu', sans-serif;
}

.pricingOptions {
    margin-top: 2rem;
}

.card-header {
    font-family: 'Lobster', cursive;
}

.pricingCard {
    margin: 15px;
}

@media (max-width: 992px) {
    
    .introPageBigPic {
        top: 10%;
        transform: rotate(0deg);
    }
    
    #title {
        text-align: center;
    }
}