.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
}

.navbar-nav {
    font-size: 1.25rem;
}

body {
    background-color:  #00AFF0;
}

.container-fluid {
    padding: 2% 15%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.25;
    font-size: 5rem;
}

.playDown {
    margin-left: 5%;
}

.btn {
    margin-top: 5%;
}

.col-lg-6 {
    margin-top: 5%;
}

.introPageBigPic {
    width: 100%;
}

#features {
    font-family: 'Lobster', cursive;
    padding: 5% 15%;
    text-align: center;
    background-color: white;
}

h3 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color: darkgray;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
}
.feature-icon {
    color: #00AFF0;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #004cf0;
}

#testimonials {
    font-family: 'Lobster', cursive;
    text-align: center;
    background-color: #00AFF0;
}

.carousel-item {
    padding: 2.5% 15%;
}

#press {
    font-family: 'Lobster', cursive;
    padding: 2.5% 15%;
    text-align: center;
    background-color: #00AFF0;
}

.press-logo {
    width: 15%;
    margin: 2%;
}

.testimonial-pic {
    width: 12%;
    border-radius: 100%;
    margin: 2rem;
}

.testimonial-pic-disc {
    font-family: 'Ubuntu', sans-serif;
}

#pricing {
    background-color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 2.5% 15%;
}

.pricingOptions {
    margin-top: 2rem;
}

.card-header {
    font-family: 'Lobster', cursive;
}

.pricingCard {
    margin: 15px;
}